{% extends "base.html" %}
{% load static %}

{% block title %}编辑作物信息{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'neo4j_manage/css/list_style.css' %}">
{% endblock %}

{% block content %}
<div id="container1" class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2>编辑作物信息</h2>
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">保存更改</button>
                <a href="{% url 'neo4j-manage' %}" class="btn btn-secondary">取消</a>
                <!-- 删除按钮 -->
{#                <button type="button" class="btn btn-danger" onclick="confirmDelete()">删除</button>#}
            </form>
        </div>
    </div>
</div>

{#<script>#}
{#function confirmDelete() {#}
{#    if (confirm("您确定要删除这条记录吗？")) {#}
{#        // 执行删除操作#}
{#        document.location.href = "{% url 'crop_delete' object.id %}";#}
{#    }#}
{#</script>#}

{% endblock %}