/* 导入字体 */
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* 基础样式 */
* {
    box-sizing: border-box;
}

button {
    background-color: #008000; /* 绿色按钮背景 */
    color: #FFFFFF; /* 按钮文本颜色 */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005007; /* 按钮悬停时的背景颜色 */
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

/* 标题样式 */
h1, h2, h3 {
    font-family: 'Kalnia', Arial, sans-serif;
    color: #008000; /* 绿色标题 */
}

/* 导航栏样式 */
.main-navigation {
    width: 100%;
    background-color: #008000; /* 导航背景颜色 */
    padding: 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.main-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-navigation ul li {
    margin: 0 10px;
    padding: 0; /* 确保列表项没有内边距，因为我们将在 <a> 标签上添加 */
}

.main-navigation a {
    display: block; /* 让链接填充整个列表项 */
    padding: 10px 20px; /* 增加填充来增加点击区域和可视范围 */
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-navigation a:hover,
.main-navigation a:active {
    background-color: #FFFFFF; /* 链接悬停时的背景颜色 */
    color: #008000; /* 链接悬停时的字体颜色 */
    text-decoration: none; /* 确保悬停时没有文本装饰 */
}

/* 主内容区域样式 */
main {
    padding-top: 6rem; /* 确保主内容不被顶部导航遮挡 */
    text-align: center;
}

/* 正文样式 */
p {
    color: black; /* 正文字体颜色 */
}

.btn-primary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #005400; /* 深绿色背景 */
    border-color: #003d33; /* 可以根据需要调整边框颜色 */
}

.btn-primary:hover {
    background-color: #004225; /* 深绿色的稍微深一点的阴影色，当鼠标悬浮时 */
    border-color: #002d1a;
}

.btn-danger {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.btn-warning {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}


