{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <h2>Account Information</h2>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
    </form>

    <hr>

    <h2>Account Actions</h2>
    <a href="{% url 'change-password' %}" class="btn btn-sm btn-warning" style="margin-bottom: 10px;">Change Password</a>
      <br>
    <form method="post">
      {% csrf_token %}
      <button type="submit" name="delete_account" class="btn btn-danger" onclick="return confirmDelete();">Delete Account</button>
    </form>
  </div>

    <script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete your account? This action cannot be undone.');
    }
    </script>
{% endblock %}