{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Site Title{% endblock %}</title>
    {% block css_files %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static "accounts/css/signstyle.css" %}">
    {% endblock %}
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- Add your JavaScript links here -->
</body>
</html>