/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins&display=swap');

body {
    font-family: 'Open Sans', Arial, sans-serif; /* 无衬线字体 */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 垂直居中 */
}

.main-background {
    flex-direction: column;
    left: 0;
    top: 0;
    bottom: 0;
    background: url('../images/Signbase2.jpg') no-repeat center center;
    background-size: 100% 100%;
    display: flex;
    align-items: flex-start;  /* 水平方向左对齐 */
    justify-content: center;  /* 垂直方向居中对齐 */
    padding-left: 30px; /* 增加左侧内边距，使文本不紧贴边缘 */
    padding-right: 50px;
    color: #FFFFFF; /* 字体颜色设置为白色 */
    z-index: 0; /* 确保背景在内容之下 */
}

.hr-line {
    width: 100%; /* 横向填满容器 */
    margin: 20px 0; /* 添加一些垂直外边距 */
    height: 0.5%; /* 设置高度为 4px，可以调整以适应你的设计 */
    background-color: white; /* 设置背景颜色为白色 */
    border: none; /* 去除边框 */
}

.main-background svg {
    width: 35%;  /* 设置宽度为父容器的25% */
    height: 35%; /* 设置高度为父容器的25% */
    display: block;  /* 块级显示 */
}

.main-background h1 {
    font-family: "Noto Serif SC", serif; /* 通用设置 */
    font-weight: 900;
    font-style: normal;
    text-align: left;
    color: #FFFFFF;
    /*margin: 0; !* 移除默认的外边距 *!*/
    /*padding: 10px 0; !* 增加一些内部间距 *!*/
}

.main-background h1:lang(en) {
    font-family: "Abril Fatface", serif; /* 专门为英文设置 */
    font-weight: 400; /* 英文的正常字重 */
}

.main-content {
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    background-color: #E6FFE6; /* 绿色背景 */
    z-index: 1;
}

.main-content, .main-background {
    width: 50%; /* 每个部分占半屏 */
    height: 100vh; /* 每个部分占满整个视口的高度 */
    position: relative; /* 为内部元素定位提供基础 */
}

.container {
    background-color: #FFFFFF; /* 白色容器背景 */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
}

h1 {
    font-family: 'Kalnia', Arial, sans-serif;
    color: #008000; /* 绿色标题 */
    text-align: center;
}

form {
    margin-top: 20px;
}

button {
    background-color: #008000; /* 绿色按钮背景 */
    color: #FFFFFF; /* 按钮文本颜色 */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005400; /* 按钮悬停时的背景颜色 */
}

.btn-primary {
    background-color: #005400; /* 深绿色背景 */
    border-color: #003d33; /* 可以根据需要调整边框颜色 */
}

.btn-primary:hover {
    background-color: #004225; /* 深绿色的稍微深一点的阴影色，当鼠标悬浮时 */
    border-color: #002d1a;
}

.errorlist {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  color: #d6000b;
}

.invalid label {
  color: #d6000b;
}

.invalid input,
.invalid textarea {
  border-color: #d6000b;
  background-color: #ffe6e7;
}

#alert {
  margin: 8rem auto 3rem auto;
  border: 1px solid #d6000b;
  background-color: #ffe6e7;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

#alert a {
  text-decoration: none;
  border: 1px solid #d6000b;
  background-color: #d6000b;
  color: white;
  padding: 0.25rem 1.5rem;
  border-radius: 6px;
}